@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.wrapper{
    font-family: 'Open Sans', sans-serif;
    max-width: 1440px;
    display: grid;
    grid-template: auto auto;
    grid-template-areas: "main";
}

.grid_main{
    grid-area: main;
}

.main_content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(660px, 1fr));
    grid-template-rows:auto;
    background-color: rgb(248, 248, 248);
    justify-items: center
}

.card_first {
    width: 660px;
    height: 184px;
    margin: 32px 30px;
    background: linear-gradient(90.02deg, #25335A 0.02%, #141824 113.01%);
    color: #ffffff;
    border-radius: 16px;
}

.card_second {
    color: #ae4123;
    background: white;
}

.position {
    display: flex;
    justify-content: space-between;
}

.picture_area_bask {
    margin: 16px 50px 0 0;
}

.picture_area_plants {
    margin: -20px 30px 0 0;
}

.picture_area_ID {
    margin: -8px 47px 0 0;
}

.picture_area_musician {
    margin: -12px 30px 0 0;
}

.picture_area_shopping {
    margin: -28px 26px 0 0;
}

h3 {
    margin: 72px 0 0 40px;
    font-size: 24px;
    font-weight: 100;
}

time {
    font-size: 32px;
    margin-left: 40px;
    font-weight: 700;
}

.first_order{
    order: 1;
}
.second_order{
    order: 3;
}
.third_order{
    order: 5;
}
.fourth_order{
    order: 7;
}
.fifth_order{
    order: 9;
}
.sixth_order{
    order: 2;
}
.seventh_order{
    order: 4;
}
.eighth_order{
    order: 6;
}
.ninth_order{
    order: 8;
}
.tenth_order{
    order: 10;
}