.content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    text-align: justify;
    color: darkgreen;
}

A {
    color: gray;
    font-size: 3em;
}

.facebook:hover {
    color: dodgerblue;
}

.youtube:hover {
    color: red;
}

.instagram:hover {
    color: rgb(99, 0, 61);
}

.pinterest:hover {
    color: palevioletred;
}