.parent {
    max-width: 800px;
    height: 100vh;
    margin: 0px auto;
    background-color: rgb(230, 230, 230);
}

.content{
    border: 2px solid red;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    padding: 10px;
    position: relative;
    z-index: 1;
    background-color: rgb(255, 254, 253);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    top: 35%;
}

h3{
    text-align: center;
}

hr{
    border: none; 
    background-color: rgb(224, 224, 224);
    height: 2px;
    width: 200px;
}
