@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  max-width: 1940px; }

.box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
  margin: 20px; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 19.587628866%;
  height: 420px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  justify-content: space-around;
  position: relative; }
  .item h3 {
    font-size: 24px;
    color: #0e1a35;
    padding-bottom: 30px;
    line-height: 1.5;
    font-weight: bolder;
    text-transform: uppercase; }
  .item div i {
    font-size: 22px;
    color: #0e1a35;
    font-weight: bold;
    line-height: 1.636; }
  .item div span {
    font-size: 24px;
    color: #8492af;
    line-height: 1.5; }
  .item div .price {
    font-size: 72px;
    color: #0e1a35;
    font-weight: bold;
    line-height: 0.5; }
  .item p {
    font-size: 18px;
    color: #8492af;
    line-height: 3; }

.none_check:before {
  content: url(/img/none_check.png) " ";
  position: relative;
  top: 5px; }

.check:before {
  content: url(/img/check.png) " ";
  position: relative;
  top: 5px; }

h2 {
  font-size: calc( 0.017721519 * 100vw + 25.6202531646px );
  color: #0e1a35;
  line-height: 0.24;
  margin: 70px 0 40px 0; }

.article_p {
  max-width: 870px;
  line-height: 1.5;
  margin: 50px; }

.button_div button {
  background-color: #5584ff;
  border: 1px solid #5584ff;
  width: 204px;
  height: 48px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  letter-spacing: 2px;
  margin-bottom: 40px; }
.button_div:before, .button_div:after {
  content: ' ';
  width: calc( 0.2183544304 * 100vw + -73.6075949367px );
  height: 1.5px;
  margin: 0 20px;
  vertical-align: super;
  background-color: #8492af;
  display: inline-block; }
