.head {
    width: 600px;
    background-color: darkorange;
    text-align: center;
}

.survey {
    width: 600px;
    height: 500px;
    background-color: navajowhite;
    position: relative;
    line-height: 20px;
}

.first {
    text-align: right;
    position: absolute;
    left: 20px;
    width: 170px;
}

.second {
    position: absolute;
    left: 200px;
}

.fruit_scroll{
    margin-top: 7px;
}